@mixin center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

header {
  @include center(row);
  width: 100%;
  height: 50px;
  background-color: black;
  margin-top: -10px;
  margin-left: -8px;


  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      margin: 0 10px;
      display: inline;

      &:hover {
        color: orangered
      }
    }
  }

  .icon {
    position: absolute;
    left: 25px;

    &:hover {
      color: orangered
    }
  }

  .icons {
    position: absolute;
    right: 25px;

    &:hover {
      color: orangered
    }
  }

}