@mixin backGroundimg($url) {
  background-image: url($url);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  position: relative;
  @include center(row);

  .cars {
    min-height: 500px;
    width: 31%;
    float: left;
    border: 1px solid gray;
    margin-right: 1rem;
    margin-top: 3rem;
    border-radius: 10px;
  }

  .audi {
    @include backGroundimg('../pictures/audi.jpg')
  }

  .bmw {
    @include backGroundimg('../pictures/bmw.jpg')
  }

  .benz {
    @include backGroundimg('../pictures/benz.jpg')
  }
}