@import './header.scss';
@import './main.scss';
@import './footer.scss';
@import './font.css';


@mixin backGround {
  background-color: #3b3b3b;
  background-repeat: no-repeat;
  background-size: cover;
}



body {
  @include backGround();
  height: 100%;
  width: 100%;
  color: white;
  overflow: hidden;
  font-family: "Roboto";
}